SpeechRecognition==3.8.1
pyttsx3==2.90
fuzzywuzzy==0.18.0
PyAudio==0.2.12
gTTS==2.2.4
pytest==7.2.0
python-dotenv==0.21.0
pre-commit==2.20.0
python-Levenshtein==0.20.8
setuptools==58.1.0
playsound==1.2.2
openai==0.27.7
